
*{
    margin: 0;
    padding: 0;
    
}


h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: black;
    height: 5rem;
    line-height: 5rem;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.box{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 90px;
    gap: 50px;
}
.box:hover{
    cursor: pointer;
    background-color: black;
    
}
.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score{
    font-size: 4rem;
    margin-left: 10px;


  }
  #comp-score {
    font-size: 4rem;
    margin-left: 20px;
  }


  .msg-container {
    margin-top: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  #msg {
    background-color: #081b31;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
  }